<% provide(:title,'About')%>
<h1>About</h1>
<p>I've decided to keep a running diary for races and training runs.  I thought if I made it public then there's a chance it could help someone looking for info on these events, as some of them don't always have lots of information readily available online.</p>
