<% provide(:title,"New activity type")%>
<h1>New activity type</h1>
<div class="row">
	<div class="col-md-6 offset3">
		<%= form_for(@activity_type) do |f| %>

			<%= render 'fields', f: f %>

			<%= f.submit "Create activity type", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
