<div class="post_admin_right">
	<ul class="post_admin">
		<%= content_tag_for(:li, post, :hits) do %>
			<%= link_to pluralize(post.hits.size, "hit"), [post, :hits] %>
		<% end %>

		<li>
			<%= link_to(edit_post_path(post)) do %>
			<span class="glyphicon glyphicon-pencil" title="Edit"></span>
			<% end %>
		</li>
		<li>
			<%= link_to(post, method: :delete, data:
			{confirm: "Are you sure you wish to delete this post?"}) do %>
			<span class="glyphicon glyphicon-remove" title="Delete"></span>
			<% end %>
		</li>
	</ul>
</div>
