<% summary=true if summary.nil? %>
<div class="row">
	<div class="col-md-1">
		<%= gravatar_for post.user %>
		<%= link_to "Google plus", post.user.google_plus if post.user.google_plus && !summary %>
	</div>
	<div class="col-md-11">
		<%= render 'shared/post_item', post: post, summary: summary  %>
	</div>
</div>

