<% provide(:title,"Edit #{@post.title}")%>


<div class="row">
	<div class="col-md-12">
		<%= form_for(@post) do |f| %>

			<%= render 'fields', f: f %>

			<%= f.submit "Save post", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
