<% provide(:title, current_category ? current_category.name : 'Runs') %>
<!--<div class="container">-->
	<h1>
<%= current_category ? current_category.name : 'Runs' %>
</h1>
<% if @posts %>
   <%= render @posts %>
<% else %>
<h2>Sorry, no posts found<%= " in #{current_category.name}" if current_category %></h2>
<% end%>

<%= will_paginate %>

<!--</div>-->