<% provide(:title, @post.title) %>
<h1><%= @post.title %></h1>
<%= render @post, summary: false %>

<% render "shared/gmap_includes" %>

<% if @post.facebook_comments %>

	<% content_for :html_head do %>
		<meta property="fb:admins" content="<%= @post.user.facebook_id %>" />
	<% end if @post.user.facebook_id.present? %>

	<% content_for :js_includes do %>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<% end %>
	<div class="row">
	<div class="col-md-11 col-md-offset-1 fb-comments" data-numposts="5" data-href="<%= url_for(only_path: false, protocol: 'http') %>" data-colorscheme="light" data-order-by="reverse_time"></div>
	</div>
<% end %>
