<% provide(:title, "Add new activity")%>

<h1>Add new activity</h1>

<div class="row">
	<div class="col-md-3">
		Import from Garmin
		<ul id="list_of_devices">
		</ul>
<!--		<select id="list_of_devices", name="device">
			<option value="-1">Reading device list</option>
		</select>
		<div id="garmin_device_selector"></div>
		<button>Select</button>
-->
	</div>
	<div class="col-md-6">
		<div id="list_of_activities"></div>
	</div>
</div>

<% content_for :js_includes do %>
<% end %>
<% content_for :jquery do%>
	function select_device($dev) {
		$("#list_of_activities").html($dev.html());
	}
	function load_test() {
		var $device_list = $("#list_of_devices");
		for (var i=0;i<5;i++) {
			var $new_link=$('<a>').attr({class:'garmin_device', href:'#'}).append("Device " + i);
//use $new_link.data("device", device);
			$new_link.click(function(event) {
				select_device($(this));
				event.preventDefault();
			});
			$device_list.append($('<li>').append($new_link));

		}

	}
$( document ).ready (load_test);
<%end %>
