<footer class="footer">
  <small>
    Run log by Pete West. Contact me on Twitter: <a href="https://twitter.com/intent/tweet?screen_name=pistolpeet" target="_blank">@pistolpeet</a>
  </small>
</footer>
